#carouselExampleFade{
    justify-content: right;
}
#carouselExampleCaptions{
    align-items: center;
}
#nosotros{
    justify-content: center;
}
.card{
    margin: 0% 3% 6% 3%;
    height: 12rem;
    text-align: center;
    align-items: center;
}

.card-img-top{
    max-width: 20%;
    justify-self: center;
}

#botones a{
    color:white;
    text-decoration: none;
}
